# Xcode
ios_app/**/*.xcodeproj/xcuserdata/
ios_app/**/*.xcworkspace/xcuserdata/
ios_app/**/DerivedData/
ios_app/**/*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
DerivedData/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/

# Blender
*.blend1
*.blend2

# OS
.DS_Store
Thumbs.db
